#APPLICATION
APP_PORT = "<< APP_PORT HERE >>"

#DATABASE
<%= DATABASE %>_HOST = "<< <%= DATABASE %>_HOST HERE >>"
<%= DATABASE %>_PORT = "<< <%= DATABASE %>_PORT HERE >>"
<%= DATABASE %>_USER = "<< <%= DATABASE %>_USER HERE >>"
<%= DATABASE %>_PASSWORD = "<< <%= DATABASE %>_PASSWORD HERE >>"
<%= DATABASE %>_DB = "<< <%= DATABASE %>_DB HERE >>"